</main>


</div>
</div>
<footer>
    <div class="social-media">
        <ul>
            <li>
                <p><a href="https://www.linkedin.com/in/mustafa-pek%C5%9Fen-05647b165/">LinkedIn</a></p>
            </li>
            <li>
                <p><a href="https://www.instagram.com/mpeksenn/">Instagram</a></p>
            </li>
            <li>
                <p><a href="https://twitter.com/mustafapeksennn">Twitter</a></p>
            </li>
        </ul>
    </div>
    <div class="copyright">
        <p>Copyright © Mustafa Pekşen
            <script>var years = new Date().getFullYear(); document.write(years)</script>
        </p>
    </div>

</footer>
</body>

</html>