<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kelzebra Travel Blog</title>
    <link rel="stylesheet" href="/style/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Grape+Nuts&family=Instrument+Serif&display=swap"
        rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".btn").click(function () {
                this.HTML = "";
            });
        });
    </script>
</head>

<body>
    <main>
        <div class="page-title">
            <h1>Mustafa Pekşen's Travel Blog</h1>
            <div class="page-navbar">
                <nav>
                    <ul>
                        <li><a href="/">Main Menu</a></li>
                        <li><a href="/about">About Me</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>