<%- include("partials/header.ejs") %>

    <div class="container">
        <div class="content wrapped-body">
            <h2>Contact Me</h2>
            <p>Sorry, I don't like to leave much contact information, so I think it will be enough for you to know that
                I am in
                Turkey and to reach me via e-mail.</p>

            <p>Tel: -</p>

            <p><a class="email" href="mailto:mustafapeksen04@gmail.com">Send E-Mail</a></p>

            <p>Address: Turkey</p>
        </div>
    </div>



    <%- include("partials/footer.ejs") %>